# API Configuration
NEXT_PUBLIC_API_URL=https://localhost:5000
NEXT_PUBLIC_API_TIMEOUT=10000

# Authentication
NEXT_PUBLIC_AUTH_SECRET=uteshop_secret_key
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=uteshop_secret_key

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# External Services
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Development
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
